name: CI/CD Backend Pipeline

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERID }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push Docker image (backend)
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/climbingnav-backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # build-args: |
          #   SPRING_PROFILES_ACTIVE=prod

      - name: Deploy backend to EC2
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            cd ~
            docker stop backend 2>/dev/null || true
            docker rm backend 2>/dev/null || true
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/climbingnav-backend:latest
            
            docker-compose pull backend
            docker-compose up -d --no-deps backend
            docker image prune -f